<!DOCTYPE html>
<html>
  <style>
    div {
      display: block;
      width: 1px;
      height:1px;
      position: absolute;
      left: 0;
      top: 0;
      background: blue;
      opacity: 0.5;
    }
    body {
      width: 100px;
      height: 80px;
    }
  </style>
<body>

<!-- style="position: absolute;left: 0;top: 0;" -->
          <!-- patternUnits="userSpaceOnUse" -->
<!--  -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" 
width="100" height="50"
>
   <rect x="0" y="0" width="120" height="50" stroke="grey" stroke-width="2" fill="none" />
	<defs>
		<pattern
          width="60"
          height="20"
          viewBox="0 0 60 20"
          id="inner"
          patternUnits="userSpaceOnUse"
        >
          <line
            x1="0"
            y1="0"
            x2="100"
            y2="0"
            stroke-width="1"
            stroke="red"
            stroke-dasharray="1,19"
            transform="translate(0,0.5)"
          />
        </pattern>
	</defs>
	<rect x="0" y="0" width="20" height="20" fill="none" stroke="yellow" stroke-width="1" opacity="0.9" />
	<rect x="0" y="0" width="120" height="50" fill="url(#inner)" stroke="none"/>
  
</svg> 
<div></div>
</body>
</html>